.padd{
    padding-top: 15px;
    color: white;
}
.footer-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.link{
    text-align: center;
    text-decoration: underline;
    color: white;
    
}
.footer-row{
    padding: 10px;
}
.padd h3{
    font-size: 16px;
}
.footer{
    background-color: rgba(23, 22, 22, 0.934);

}
.footer-info > *{
    color: white;
}
.footer-info > a:hover{
    color: white;
    text-decoration: none;
}
