@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* overriding bootstraps classes */
.navbg {
  display: flex;
  height: 100%;
  padding: 10px 20px;
  background: rgb(14, 14, 14);
  background: linear-gradient(
    74deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(22, 22, 22, 1) 43%,
    rgba(36, 36, 36, 1) 100%
  );
  
}
.dropdown-menu-dark {
  background-color: #161616;
}
.alignnav {
  display: flex;
  align-items: center;
}

.navbar > .container {
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
#nav-dropdown-dark-example {
  color: white;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1300 - 300)));
}
.droplinks {
  color: white;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1300 - 300)));
}
/* end of overriden classes */
.links {
  text-decoration: none;
  color: white;
  font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1300 - 300)));
  margin: 0 20px;
}
.logo {
  cursor: pointer;
  padding: 0 10px;
}
.img {
  width: calc(90px + (45 - 25) * ((100vw - 300px) / (1300 - 300)));
}

.hamburger {
  display: none;
}
.nav-bar ul {
  display: flex;
  margin: 0;
}
.nav-bar ul li a {
  display: block;
  font-size: 18px;
  color: rgb(231, 215, 215);
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}
.nav-bar ul li a:hover {
  color: black;
  background-color: white;
}
.nav-bar ul li a.active {
  color: rgb(255, 255, 255);
  background-color: rgb(244, 171, 37);
}
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  header {
    padding: 0 20px;
  }
}
