@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.rhombus {
  transform: skew(-20deg);
  display: inline-block;
  padding: 13% ;
  padding-right: 10% !important;
  padding-left: 10% !important;
  margin-top: -20px; 
  margin-bottom: -20px;
  font-weight: 600;
  font-size: 26px;
  color: #f2f2f2;
  border: none;
}

.rhombus:hover {
  color: #1a1010;
}

.navbar {
  /* border-bottom: 1px solid #FF5F00; */
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
}

.orange-bg {
  background-color:#FF5F00;
  border-color: #FF5F00;
}

.orange-dark-bg {
  background-color:#b85014;
}

.grey-bg {
  background-color: #333;
}

.navbar .ml-auto {
  margin-left: auto !important;
  display: flex;
  align-items: center;
}
