*{
    font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');


.list {
    display: flex;
    justify-content: center;
    list-style:circle;
    color: white;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;

}
.ulElement{
    color: white;
    padding: 10px;  
}
.container{ 
    height: 100% ; 
     
}
.mor{
    color: orange;
}
.torq{
    color: white;
}
.bg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: grey;
    background-blend-mode: multiply;
    
} 
.col-item{
    padding: 20px 0 50px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subheading{
    color: black;
    padding: 15px 0;
    writing-mode: vertical-lr;
}
.text{
    color: black;
    font-size: 18px;
    padding: 15px 5px;
}

.H2{
        color: black;
    padding: 15px 0;
}
.teamhistory{
    display: flex;
    padding: 50px 0;
}
.col1{
    display: flex;
    padding: 0;
}
.vl{
    border-left: 2px solid black;
    height: 250px;
padding: 2px 5px;
}
.hl{
    width: 90vw;
    border-bottom: 2px solid black;
}
