.person-card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 5px;
  border: 5px solid black;
  box-shadow: 0px 0px 15 rgba(0, 0, 0, 0.8);

}
.card-back,
.card-front {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 22px;
  color: white;
  flex-direction: column;
}
.card-back {
  color: rgb(40, 14, 14);
  transform: rotateY(180deg);
}
.card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.card-info{
display: flex;
}