.person-card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 15 rgba(0, 0, 0, 0.8);
  margin: 20px 10px;
}
.card-back,
.card-front {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  font-family: Montserrat;
  color: white;
}
.card-back {
  color: rgb(40, 14, 14);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  border-radius: 10px;

}
.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  border-radius: 10px;

}

.card-info {
  display: flex;
  width: 100%;

}
.person-card-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.front-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 24px 15px;
  background: linear-gradient( hsl(0 0% 0% /0), hsl(0 0% 0%/ 0.2) 40%, hsl(0 0% 0% /1) );
  height: 100%;
  min-height: 500px;
  align-items: flex-end;
  border-radius: 10px;

}
button{
  background-color: transparent;
  border: none;
}
.learnLess-btn{
  position: absolute;
  top: 0;
  left: 0;
  padding: 22px 10px;
}
.learnMore-btn{
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 13px 0;
}
p{
  font-size: 16px;
}
.row{
  justify-content: center;
}
.person-card-container{
  padding: 50px 0;
}